<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{1,852},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{718,507},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_gengduo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,53}</string>
                <key>spriteSourceSize</key>
                <string>{121,53}</string>
                <key>textureRect</key>
                <string>{{751,109},{121,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_jifensai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,128}</string>
                <key>spriteSourceSize</key>
                <string>{304,128}</string>
                <key>textureRect</key>
                <string>{{445,109},{304,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_jifensai_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,28}</string>
                <key>spriteSourceSize</key>
                <string>{182,28}</string>
                <key>textureRect</key>
                <string>{{435,712},{182,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_jinrushiwanqun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,52}</string>
                <key>spriteSourceSize</key>
                <string>{270,52}</string>
                <key>textureRect</key>
                <string>{{138,609},{270,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_jinzhuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{304,122}</string>
                <key>spriteSourceSize</key>
                <string>{304,128}</string>
                <key>textureRect</key>
                <string>{{138,269},{304,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_kaizhuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{304,122}</string>
                <key>spriteSourceSize</key>
                <string>{304,128}</string>
                <key>textureRect</key>
                <string>{{138,393},{304,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_kefu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{88,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{628,481},{88,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_xitong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{718,593},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{444,312},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desk_xiadi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{581,69}</string>
                <key>spriteSourceSize</key>
                <string>{581,69}</string>
                <key>textureRect</key>
                <string>{{1,269},{581,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fahongb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{56,44}</string>
                <key>textureRect</key>
                <string>{{316,862},{50,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fbzhuoz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{756,831},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,51}</string>
                <key>spriteSourceSize</key>
                <string>{4,51}</string>
                <key>textureRect</key>
                <string>{{812,795},{4,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>houtaiguanl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{52,44}</string>
                <key>spriteSourceSize</key>
                <string>{56,44}</string>
                <key>textureRect</key>
                <string>{{602,826},{52,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_liebiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,378}</string>
                <key>spriteSourceSize</key>
                <string>{64,378}</string>
                <key>textureRect</key>
                <string>{{72,269},{64,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_paizhuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{718,481},{24,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jdongk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{648,857},{54,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jindi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,106}</string>
                <key>spriteSourceSize</key>
                <string>{362,106}</string>
                <key>textureRect</key>
                <string>{{445,1},{362,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jindi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,52}</string>
                <key>spriteSourceSize</key>
                <string>{216,52}</string>
                <key>textureRect</key>
                <string>{{72,803},{216,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinhuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,44}</string>
                <key>spriteSourceSize</key>
                <string>{56,44}</string>
                <key>textureRect</key>
                <string>{{204,857},{54,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lijyaoq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,90}</string>
                <key>spriteSourceSize</key>
                <string>{316,90}</string>
                <key>textureRect</key>
                <string>{{138,517},{316,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,4}</string>
                <key>spriteSourceSize</key>
                <string>{8,4}</string>
                <key>textureRect</key>
                <string>{{750,481},{8,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_button_fh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{398,784},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_button_gouka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,100}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{616,323},{91,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_button_guize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,44}</string>
                <key>spriteSourceSize</key>
                <string>{56,44}</string>
                <key>textureRect</key>
                <string>{{146,857},{56,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_button_gz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,76}</string>
                <key>spriteSourceSize</key>
                <string>{64,76}</string>
                <key>textureRect</key>
                <string>{{714,765},{64,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_button_huodong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,44}</string>
                <key>spriteSourceSize</key>
                <string>{56,44}</string>
                <key>textureRect</key>
                <string>{{704,831},{50,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_button_hylb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,74}</string>
                <key>spriteSourceSize</key>
                <string>{82,74}</string>
                <key>textureRect</key>
                <string>{{556,742},{82,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_button_jdk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{290,784},{106,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_button_jl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{756,433},{60,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_button_kh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,72}</string>
                <key>textureRect</key>
                <string>{{632,729},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_button_lx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,84}</string>
                <key>textureRect</key>
                <string>{{474,742},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_button_sq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,62}</string>
                <key>textureRect</key>
                <string>{{623,665},{90,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_button_tg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{474,826},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_button_xiaoxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{56,44}</string>
                <key>textureRect</key>
                <string>{{368,862},{50,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_button_zhanji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{56,44}</string>
                <key>textureRect</key>
                <string>{{420,862},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nocha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{548,826},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paizhuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,266}</string>
                <key>spriteSourceSize</key>
                <string>{442,266}</string>
                <key>textureRect</key>
                <string>{{1,1},{442,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouyedi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{58,46}</string>
                <key>textureRect</key>
                <string>{{696,433},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouyedi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,71}</string>
                <key>spriteSourceSize</key>
                <string>{190,71}</string>
                <key>textureRect</key>
                <string>{{445,239},{190,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouyehaoyou1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,88}</string>
                <key>spriteSourceSize</key>
                <string>{38,88}</string>
                <key>textureRect</key>
                <string>{{56,857},{38,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shouyehaoyou2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,37}</string>
                <key>spriteSourceSize</key>
                <string>{17,37}</string>
                <key>textureRect</key>
                <string>{{435,742},{17,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>song.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{760,232},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{410,609},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{715,679},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{760,290},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xlaba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{792,765},{28,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xsdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,138}</string>
                <key>spriteSourceSize</key>
                <string>{214,138}</string>
                <key>textureRect</key>
                <string>{{72,663},{214,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xundi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,32}</string>
                <key>spriteSourceSize</key>
                <string>{142,32}</string>
                <key>textureRect</key>
                <string>{{288,750},{142,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{56,44}</string>
                <key>textureRect</key>
                <string>{{260,862},{54,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yesgou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{648,803},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yiyhaoy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,54}</string>
                <key>spriteSourceSize</key>
                <string>{186,54}</string>
                <key>textureRect</key>
                <string>{{435,656},{186,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{784,290},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yongjin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,66}</string>
                <key>spriteSourceSize</key>
                <string>{108,66}</string>
                <key>textureRect</key>
                <string>{{709,323},{108,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>youcedi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,82}</string>
                <key>spriteSourceSize</key>
                <string>{121,82}</string>
                <key>textureRect</key>
                <string>{{637,239},{121,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ysz_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{456,484},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanyj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{756,871},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhonjiand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,85}</string>
                <key>spriteSourceSize</key>
                <string>{145,85}</string>
                <key>textureRect</key>
                <string>{{288,663},{145,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuangxiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{88,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{628,573},{88,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,54}</string>
                <key>spriteSourceSize</key>
                <string>{78,54}</string>
                <key>textureRect</key>
                <string>{{616,425},{78,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,4}</string>
                <key>spriteSourceSize</key>
                <string>{8,4}</string>
                <key>textureRect</key>
                <string>{{468,862},{8,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zkadi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,34}</string>
                <key>spriteSourceSize</key>
                <string>{18,34}</string>
                <key>textureRect</key>
                <string>{{792,795},{18,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dating.png</string>
            <key>size</key>
            <string>{817,906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a4cbb2df89af2d240eb3269f3e30f9c:8d4dafd6eca10cfaadae3a6160e6d071:554bfe52fc6e2e0710a0e5472138a6c6$</string>
            <key>textureFileName</key>
            <string>dating.png</string>
        </dict>
    </dict>
</plist>
