<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,56},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>biaotic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{40,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,52}}</string>
                <key>sourceSize</key>
                <string>{40,52}</string>
            </dict>
            <key>boxBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{52,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,361}}</string>
                <key>sourceSize</key>
                <string>{52,361}</string>
            </dict>
            <key>di66.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,498},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>jinzhuoniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,56},{210,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,66}}</string>
                <key>sourceSize</key>
                <string>{210,66}</string>
            </dict>
            <key>jinzhuoniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,56},{210,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,66}}</string>
                <key>sourceSize</key>
                <string>{210,66}</string>
            </dict>
            <key>paixingdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{123,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,4}}</string>
                <key>sourceSize</key>
                <string>{123,4}</string>
            </dict>
            <key>shuruzhuohaozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,268},{186,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,60}}</string>
                <key>sourceSize</key>
                <string>{186,60}</string>
            </dict>
            <key>touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,498},{1,1}}</string>
                <key>offset</key>
                <string>{-29.5,29.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>win_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{31,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{31,49}</string>
            </dict>
            <key>win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{17,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,49}}</string>
                <key>sourceSize</key>
                <string>{17,49}</string>
            </dict>
            <key>win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,56},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>win_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,456},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>win_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,464},{32,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,49}}</string>
                <key>sourceSize</key>
                <string>{32,49}</string>
            </dict>
            <key>win_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,118},{28,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,49}}</string>
                <key>sourceSize</key>
                <string>{28,49}</string>
            </dict>
            <key>win_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,97},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>win_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,66},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>win_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,35},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>win_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,107},{28,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,49}}</string>
                <key>sourceSize</key>
                <string>{28,49}</string>
            </dict>
            <key>zhondi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,460}}</string>
                <key>sourceSize</key>
                <string>{72,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>join.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d8e5f5170e0e090d33e67d65b25db9f:71e7e617ce80e7e84291ddeb0e387003:0018b9c282e2ac91477878952033e190$</string>
            <key>textureFileName</key>
            <string>join.png</string>
        </dict>
    </dict>
</plist>
