<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jetton_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,352},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>Jetton_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,258},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>Jetton_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,96},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>Jetton_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>Jetton_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,352},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>Jetton_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,258},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>Jetton_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>Jetton_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{96,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,126}}</string>
                <key>sourceSize</key>
                <string>{96,126}</string>
            </dict>
            <key>cardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,126}}</string>
                <key>sourceSize</key>
                <string>{96,126}</string>
            </dict>
            <key>desk_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,264},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>fangbian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,202},{62,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>fangbian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,70},{66,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>fangbian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,200},{62,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>heitao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,138},{62,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>heitao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{66,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>heitao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,136},{62,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>hongtao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,72},{62,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>hongtao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,190},{66,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>hongtao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,446},{62,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>huase0.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,266},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>huase1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,200},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{58,56}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>huase2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{64,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>huase3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,200},{60,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{60,56}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>meihua_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,446},{62,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>meihua_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{68,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>meihua_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,446},{62,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>poker_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,258},{30,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,324},{18,22}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{18,22}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,282},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,310},{22,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{22,22}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,284},{22,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,306},{16,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,284},{16,22}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,22}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,266},{16,22}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{16,22}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,264},{16,24}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,318},{16,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{16,22}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,258},{18,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,300},{16,22}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{16,22}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,282},{16,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{16,22}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc245839f74ba275a995628917ec2239:5ca19aca4710ae7daee7c5453d5926c6:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
