<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dailishenqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,60}</string>
                <key>spriteSourceSize</key>
                <string>{186,60}</string>
                <key>textureRect</key>
                <string>{{285,63},{186,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{781,142},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fahongbaozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,60}</string>
                <key>spriteSourceSize</key>
                <string>{142,60}</string>
                <key>textureRect</key>
                <string>{{305,251},{142,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fahuozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{733,1},{100,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameStart1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,91}</string>
                <key>spriteSourceSize</key>
                <string>{164,91}</string>
                <key>textureRect</key>
                <string>{{594,249},{164,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameStart2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,91}</string>
                <key>spriteSourceSize</key>
                <string>{165,91}</string>
                <key>textureRect</key>
                <string>{{427,251},{165,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gexingwanfzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,60}</string>
                <key>spriteSourceSize</key>
                <string>{184,60}</string>
                <key>textureRect</key>
                <string>{{533,63},{184,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>glqpaishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,60}</string>
                <key>spriteSourceSize</key>
                <string>{226,60}</string>
                <key>textureRect</key>
                <string>{{63,63},{226,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guizzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,58}</string>
                <key>spriteSourceSize</key>
                <string>{100,58}</string>
                <key>textureRect</key>
                <string>{{125,291},{100,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haoyouqipaishizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,60}</string>
                <key>spriteSourceSize</key>
                <string>{226,60}</string>
                <key>textureRect</key>
                <string>{{125,63},{226,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huituizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,46}</string>
                <key>spriteSourceSize</key>
                <string>{80,46}</string>
                <key>textureRect</key>
                <string>{{760,266},{80,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huod.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,58}</string>
                <key>spriteSourceSize</key>
                <string>{100,58}</string>
                <key>textureRect</key>
                <string>{{185,291},{100,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,77}</string>
                <key>spriteSourceSize</key>
                <string>{64,77}</string>
                <key>textureRect</key>
                <string>{{781,63},{64,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{781,204},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lixianzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,26}</string>
                <key>spriteSourceSize</key>
                <string>{51,26}</string>
                <key>textureRect</key>
                <string>{{1,367},{51,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingpian_icon_dianhua0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,44}</string>
                <key>spriteSourceSize</key>
                <string>{52,44}</string>
                <key>textureRect</key>
                <string>{{621,342},{52,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingpian_icon_dianhua1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,44}</string>
                <key>spriteSourceSize</key>
                <string>{52,44}</string>
                <key>textureRect</key>
                <string>{{675,342},{52,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingpian_icon_weixin0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{509,344},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingpian_icon_weixin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{565,344},{54,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>options3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{729,342},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>putwanfz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,60}</string>
                <key>spriteSourceSize</key>
                <string>{184,60}</string>
                <key>textureRect</key>
                <string>{{595,63},{184,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qingkongzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,48}</string>
                <key>spriteSourceSize</key>
                <string>{80,48}</string>
                <key>textureRect</key>
                <string>{{427,344},{80,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandianwfzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,60}</string>
                <key>spriteSourceSize</key>
                <string>{184,60}</string>
                <key>textureRect</key>
                <string>{{657,63},{184,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shiwanqzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,58}</string>
                <key>spriteSourceSize</key>
                <string>{142,58}</string>
                <key>textureRect</key>
                <string>{{367,251},{142,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuruzhuohaozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,60}</string>
                <key>spriteSourceSize</key>
                <string>{186,60}</string>
                <key>textureRect</key>
                <string>{{347,63},{186,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>songjdkzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,60}</string>
                <key>spriteSourceSize</key>
                <string>{364,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{364,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>touxshldi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,202}</string>
                <key>spriteSourceSize</key>
                <string>{34,202}</string>
                <key>textureRect</key>
                <string>{{249,63},{34,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuigfxz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,60}</string>
                <key>spriteSourceSize</key>
                <string>{184,60}</string>
                <key>textureRect</key>
                <string>{{719,63},{184,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaoxiz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{63,291},{100,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yaohyyouli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,60}</string>
                <key>spriteSourceSize</key>
                <string>{668,60}</string>
                <key>textureRect</key>
                <string>{{63,1},{668,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yaoqinghaoyouzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,60}</string>
                <key>spriteSourceSize</key>
                <string>{186,60}</string>
                <key>textureRect</key>
                <string>{{409,63},{186,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yingszgzzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,60}</string>
                <key>spriteSourceSize</key>
                <string>{226,60}</string>
                <key>textureRect</key>
                <string>{{187,63},{226,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>youxijiluzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,60}</string>
                <key>spriteSourceSize</key>
                <string>{185,60}</string>
                <key>textureRect</key>
                <string>{{471,63},{185,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,58}</string>
                <key>spriteSourceSize</key>
                <string>{100,58}</string>
                <key>textureRect</key>
                <string>{{245,291},{100,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wenzi.png</string>
            <key>size</key>
            <string>{846,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bec14c9a6cef2c62a602d515c8231386:f0d08de38107eb590bb948ca4e741173:148efa7d444af47228f9952c26ee8415$</string>
            <key>textureFileName</key>
            <string>wenzi.png</string>
        </dict>
    </dict>
</plist>
