<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paig1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,128}</string>
                <key>spriteSourceSize</key>
                <string>{38,128}</string>
                <key>textureRect</key>
                <string>{{321,59},{38,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paig3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,56}</string>
                <key>spriteSourceSize</key>
                <string>{138,56}</string>
                <key>textureRect</key>
                <string>{{321,1},{138,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paig4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{26,38}</string>
                <key>textureRect</key>
                <string>{{1,91},{26,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,88}</string>
                <key>spriteSourceSize</key>
                <string>{78,88}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,88}</string>
                <key>spriteSourceSize</key>
                <string>{78,88}</string>
                <key>textureRect</key>
                <string>{{81,1},{78,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pm3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,88}</string>
                <key>spriteSourceSize</key>
                <string>{78,88}</string>
                <key>textureRect</key>
                <string>{{161,1},{78,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pm4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,88}</string>
                <key>spriteSourceSize</key>
                <string>{78,88}</string>
                <key>textureRect</key>
                <string>{{241,1},{78,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>haoyouqipaishi.png</string>
            <key>size</key>
            <string>{460,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0cdb5213df963aba66193a869d6b50e:cf1bd53627ea8263b4c0c3b430fca40c:73c264deef2a861bc33ab148334239e0$</string>
            <key>textureFileName</key>
            <string>haoyouqipaishi.png</string>
        </dict>
    </dict>
</plist>
