<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>compareBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{296,272}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{296,272}}</string>
                <key>sourceSize</key>
                <string>{308,272}</string>
            </dict>
            <key>compareBg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,300},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>compareBg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,300},{194,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,192}}</string>
                <key>sourceSize</key>
                <string>{194,192}</string>
            </dict>
            <key>pingjuzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,104},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>pingjuzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,202},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>qxuanzeb.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{284,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,44}}</string>
                <key>sourceSize</key>
                <string>{284,44}</string>
            </dict>
            <key>xuanzhonk.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>xuanzjiant.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>xuanzjiant2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,430},{108,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,74}}</string>
                <key>sourceSize</key>
                <string>{108,74}</string>
            </dict>
            <key>zhandan.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>zhonttt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{426,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,147}}</string>
                <key>sourceSize</key>
                <string>{426,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pk.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71779aad399fc7744f47bff703c48530:b9faac05a35e9f1dcd1225dd4471a7c6:fe08325588981201c1339d3ea246bbfb$</string>
            <key>textureFileName</key>
            <string>pk.png</string>
        </dict>
    </dict>
</plist>
