<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jetton_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,236},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>Jetton_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,198},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>Jetton_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,127}}</string>
                <key>sourceSize</key>
                <string>{156,127}</string>
            </dict>
            <key>Jetton_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,236},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>Jetton_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,321},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>Jetton_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,127}}</string>
                <key>sourceSize</key>
                <string>{156,127}</string>
            </dict>
            <key>Jetton_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,416},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>Jetton_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,236},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>card.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,100},{96,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,126}}</string>
                <key>sourceSize</key>
                <string>{96,126}</string>
            </dict>
            <key>cardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{96,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,126}}</string>
                <key>sourceSize</key>
                <string>{96,126}</string>
            </dict>
            <key>desk_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,131},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>fangbian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,326},{62,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>fangbian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,326},{66,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>fangbian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,416},{62,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>heitao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,416},{62,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>heitao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{66,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>heitao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,236},{62,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>hongtao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,236},{62,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>hongtao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{66,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>hongtao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{62,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>huase0.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,272},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>huase1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,131},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{58,56}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>huase2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{64,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>huase3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,131},{60,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{60,56}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>meihua_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,146},{62,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>meihua_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{68,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>meihua_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,56},{62,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>poker_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{30,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,198},{18,22}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{18,22}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,198},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,198},{22,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{22,22}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,198},{22,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,198},{16,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,198},{16,22}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{16,22}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,198},{16,22}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{16,22}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,198},{16,24}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,198},{16,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{16,22}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,198},{18,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,198},{16,22}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{16,22}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>poker_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,198},{16,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{16,22}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de0496fda17ce390908c1aca067db0df:2ecb34c342c4f1d9d4d59ddd8b5610a1:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
