<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>128di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{379,354},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>128di2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{441,142},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>128di3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{509,354},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>128di4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{524,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>128di5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{571,131},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bipaiszt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,77}</string>
                <key>spriteSourceSize</key>
                <string>{116,77}</string>
                <key>textureRect</key>
                <string>{{300,361},{116,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bjxz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{114,398},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,73}</string>
                <key>spriteSourceSize</key>
                <string>{179,73}</string>
                <key>textureRect</key>
                <string>{{114,217},{179,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,73}</string>
                <key>spriteSourceSize</key>
                <string>{178,73}</string>
                <key>textureRect</key>
                <string>{{240,1},{178,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,73}</string>
                <key>spriteSourceSize</key>
                <string>{179,73}</string>
                <key>textureRect</key>
                <string>{{165,1},{179,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_b4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,73}</string>
                <key>spriteSourceSize</key>
                <string>{179,73}</string>
                <key>textureRect</key>
                <string>{{189,210},{179,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_b5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,73}</string>
                <key>spriteSourceSize</key>
                <string>{178,73}</string>
                <key>textureRect</key>
                <string>{{264,181},{178,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{214,391},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_guize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{603,261},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_liaotian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{689,261},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_xitong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{775,1},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_yaoqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{775,87},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_yuyin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{774,173},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_zhanji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{775,259},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_zhanji2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{775,345},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desk_dichi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,36}</string>
                <key>spriteSourceSize</key>
                <string>{66,36}</string>
                <key>textureRect</key>
                <string>{{528,272},{66,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>desk_dizhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,35}</string>
                <key>spriteSourceSize</key>
                <string>{66,35}</string>
                <key>textureRect</key>
                <string>{{566,272},{66,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>desk_laizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,139}</string>
                <key>spriteSourceSize</key>
                <string>{105,139}</string>
                <key>textureRect</key>
                <string>{{417,1},{105,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desk_shangdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,50}</string>
                <key>spriteSourceSize</key>
                <string>{158,50}</string>
                <key>textureRect</key>
                <string>{{54,421},{158,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desk_zhuangjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{1,421},{52,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>desk_zongchi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,37}</string>
                <key>spriteSourceSize</key>
                <string>{42,37}</string>
                <key>textureRect</key>
                <string>{{731,347},{42,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianjikanpai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,39}</string>
                <key>spriteSourceSize</key>
                <string>{191,39}</string>
                <key>textureRect</key>
                <string>{{73,217},{191,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kebilszs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,36}</string>
                <key>spriteSourceSize</key>
                <string>{114,36}</string>
                <key>textureRect</key>
                <string>{{654,1},{114,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>liangpai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{445,272},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qipaizt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,100}</string>
                <key>spriteSourceSize</key>
                <string>{150,100}</string>
                <key>textureRect</key>
                <string>{{315,1},{150,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qitb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{731,386},{36,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>timeSlider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{162,214}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,202}</string>
                <key>spriteSourceSize</key>
                <string>{34,202}</string>
                <key>textureRect</key>
                <string>{{1,217},{34,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxshldi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,202}</string>
                <key>spriteSourceSize</key>
                <string>{34,202}</string>
                <key>textureRect</key>
                <string>{{37,217},{34,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yikanpaizt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,100}</string>
                <key>spriteSourceSize</key>
                <string>{149,100}</string>
                <key>textureRect</key>
                <string>{{339,153},{149,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhuangshw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,9}</string>
                <key>spriteSourceSize</key>
                <string>{159,9}</string>
                <key>textureRect</key>
                <string>{{1,475},{159,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhunbzt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,48}</string>
                <key>spriteSourceSize</key>
                <string>{104,48}</string>
                <key>textureRect</key>
                <string>{{339,304},{104,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjqian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,26}</string>
                <key>spriteSourceSize</key>
                <string>{35,26}</string>
                <key>textureRect</key>
                <string>{{165,182},{35,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ztbipai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,44}</string>
                <key>spriteSourceSize</key>
                <string>{113,44}</string>
                <key>textureRect</key>
                <string>{{639,347},{113,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ztgengzhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,44}</string>
                <key>spriteSourceSize</key>
                <string>{113,44}</string>
                <key>textureRect</key>
                <string>{{685,347},{113,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zthuopin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,43}</string>
                <key>spriteSourceSize</key>
                <string>{113,43}</string>
                <key>textureRect</key>
                <string>{{729,1},{113,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ztjiazhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,43}</string>
                <key>spriteSourceSize</key>
                <string>{113,43}</string>
                <key>textureRect</key>
                <string>{{729,116},{113,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ztqipai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,43}</string>
                <key>spriteSourceSize</key>
                <string>{113,43}</string>
                <key>textureRect</key>
                <string>{{731,431},{113,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuidlszs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,35}</string>
                <key>spriteSourceSize</key>
                <string>{114,35}</string>
                <key>textureRect</key>
                <string>{{692,1},{114,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sz_youxizhong.png</string>
            <key>size</key>
            <string>{860,485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:125d2a39657460e4dbd4894fa619c7f4:115a105651f3922b21d12bed091fa272:32154fc367b68f274722ed665ca6dffa$</string>
            <key>textureFileName</key>
            <string>sz_youxizhong.png</string>
        </dict>
    </dict>
</plist>
