<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>doudizhu_gongyong_bj00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,72}</string>
                <key>spriteSourceSize</key>
                <string>{84,72}</string>
                <key>textureRect</key>
                <string>{{520,81},{84,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_gongyong_bj01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,656}</string>
                <key>spriteSourceSize</key>
                <string>{52,656}</string>
                <key>textureRect</key>
                <string>{{1,1},{52,656}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_gongyong_bj02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,640}</string>
                <key>spriteSourceSize</key>
                <string>{24,640}</string>
                <key>textureRect</key>
                <string>{{1,55},{24,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_gongyong_bj03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,323}</string>
                <key>spriteSourceSize</key>
                <string>{49,323}</string>
                <key>textureRect</key>
                <string>{{1,81},{49,323}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_gongyong_buton1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,66}</string>
                <key>spriteSourceSize</key>
                <string>{192,66}</string>
                <key>textureRect</key>
                <string>{{659,1},{192,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_gongyong_buton2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,66}</string>
                <key>spriteSourceSize</key>
                <string>{192,66}</string>
                <key>textureRect</key>
                <string>{{727,1},{192,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_gongyong_buton3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,66}</string>
                <key>spriteSourceSize</key>
                <string>{192,66}</string>
                <key>textureRect</key>
                <string>{{795,1},{192,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_gongyong_buton4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,66}</string>
                <key>spriteSourceSize</key>
                <string>{192,66}</string>
                <key>textureRect</key>
                <string>{{326,81},{192,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doudizhu_gongyong_tishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,48}</string>
                <key>spriteSourceSize</key>
                <string>{106,48}</string>
                <key>textureRect</key>
                <string>{{594,81},{106,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_slider_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{1,167},{48,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_slider_fore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,24}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{1,132},{46,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gongyong.png</string>
            <key>size</key>
            <string>{862,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0568e7ba561b6fa0df432b66dea949ec:0eff4ddf77afb9976276e844572960c6:9b0c41d46f10b18015631a54d9ec7771$</string>
            <key>textureFileName</key>
            <string>gongyong.png</string>
        </dict>
    </dict>
</plist>
