<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>doudizhu_kaizhuo_bj00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,750}</string>
                <key>spriteSourceSize</key>
                <string>{20,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{20,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doudizhu_kaizhuo_bj01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,750}</string>
                <key>spriteSourceSize</key>
                <string>{20,750}</string>
                <key>textureRect</key>
                <string>{{23,1},{20,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doudizhu_kaizhuo_bj02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{88,28}</string>
                <key>spriteSourceSize</key>
                <string>{130,28}</string>
                <key>textureRect</key>
                <string>{{1,961},{88,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doudizhu_kaizhuo_bj03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,4}</string>
                <key>spriteSourceSize</key>
                <string>{12,4}</string>
                <key>textureRect</key>
                <string>{{1,753},{12,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_kaizhuo_bj04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,38}</string>
                <key>spriteSourceSize</key>
                <string>{66,38}</string>
                <key>textureRect</key>
                <string>{{185,925},{66,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_kaizhuo_bj05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{137,757},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doudizhu_kaizhuo_bj06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,92}</string>
                <key>spriteSourceSize</key>
                <string>{236,92}</string>
                <key>textureRect</key>
                <string>{{157,1},{236,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_kaizhuo_button01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,2}</string>
                <key>spriteSourceSize</key>
                <string>{10,2}</string>
                <key>textureRect</key>
                <string>{{157,239},{10,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_kaizhuo_button02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,110}</string>
                <key>spriteSourceSize</key>
                <string>{262,110}</string>
                <key>textureRect</key>
                <string>{{45,1},{262,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_kaizhuo_button03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,70}</string>
                <key>spriteSourceSize</key>
                <string>{226,70}</string>
                <key>textureRect</key>
                <string>{{119,529},{226,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_kaizhuo_button04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,66}</string>
                <key>spriteSourceSize</key>
                <string>{192,66}</string>
                <key>textureRect</key>
                <string>{{1,767},{192,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_kaizhuo_button05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,66}</string>
                <key>spriteSourceSize</key>
                <string>{192,66}</string>
                <key>textureRect</key>
                <string>{{69,767},{192,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_kaizhuo_buttonX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{56,58}</string>
                <key>textureRect</key>
                <string>{{191,503},{56,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_kaizhuo_errendoudizhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,56}</string>
                <key>spriteSourceSize</key>
                <string>{262,56}</string>
                <key>textureRect</key>
                <string>{{45,265},{262,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_kaizhuo_icon00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,72}</string>
                <key>spriteSourceSize</key>
                <string>{236,72}</string>
                <key>textureRect</key>
                <string>{{45,529},{236,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_kaizhuo_icon01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,56}</string>
                <key>spriteSourceSize</key>
                <string>{262,56}</string>
                <key>textureRect</key>
                <string>{{103,265},{262,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_kaizhuo_icon02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{137,925},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doudizhu_kaizhuo_icon03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{191,561},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doudizhu_kaizhuo_icon04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,28}</string>
                <key>spriteSourceSize</key>
                <string>{260,28}</string>
                <key>textureRect</key>
                <string>{{219,239},{260,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_kaizhuo_icon05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{70,72}</string>
                <key>textureRect</key>
                <string>{{137,851},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doudizhu_kaizhuo_icon06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{209,851},{42,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doudizhu_kaizhuo_icon07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{191,601},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doudizhu_kaizhuo_icon08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{191,639},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doudizhu_kaizhuo_icon09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{91,961},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doudizhu_kaizhuo_sirendoudizhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,56}</string>
                <key>spriteSourceSize</key>
                <string>{262,56}</string>
                <key>textureRect</key>
                <string>{{161,239},{262,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guize.png</string>
            <key>size</key>
            <string>{250,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b7a681fc853489eef09f43f92fbd5f0:17471ee220ed930dc256cd0f8a367635:88cb49bf6d3b80784410cba0ef7a9ca5$</string>
            <key>textureFileName</key>
            <string>guize.png</string>
        </dict>
    </dict>
</plist>
