<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pukepai_hei_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hei_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{53,1},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hei_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{105,1},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hei_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{157,1},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hei_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{209,1},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hei_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{261,1},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hei_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{313,1},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hei_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{365,1},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hei_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{417,1},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hei_A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{469,1},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hei_J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{521,1},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hei_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{573,1},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hei_Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{1,37},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hong_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{53,37},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hong_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{105,37},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hong_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{157,37},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hong_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{209,37},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hong_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{261,37},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hong_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{313,37},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hong_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{365,37},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hong_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{417,37},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hong_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{469,37},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hong_A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{521,37},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hong_J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{573,37},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hong_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{1,73},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hong_Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{53,73},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_huang_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{105,73},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_huang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{157,73},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_huang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{209,73},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_huang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{261,73},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_huang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{313,73},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_huang_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{365,73},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_huang_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{417,73},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_huang_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{469,73},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_huang_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{521,73},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_huang_A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{573,73},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_huang_J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{1,109},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_huang_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{53,109},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_huang_Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{105,109},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_huang_dawang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,124}</string>
                <key>spriteSourceSize</key>
                <string>{34,124}</string>
                <key>textureRect</key>
                <string>{{157,109},{34,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_huang_pizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,84}</string>
                <key>spriteSourceSize</key>
                <string>{48,84}</string>
                <key>textureRect</key>
                <string>{{127,181},{48,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_huase_dawang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,162}</string>
                <key>spriteSourceSize</key>
                <string>{64,162}</string>
                <key>textureRect</key>
                <string>{{371,181},{64,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_huase_dawang_pizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,162}</string>
                <key>spriteSourceSize</key>
                <string>{64,162}</string>
                <key>textureRect</key>
                <string>{{223,247},{64,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_huase_fangpian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,68}</string>
                <key>textureRect</key>
                <string>{{535,181},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pukepai_huase_heitao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,68}</string>
                <key>textureRect</key>
                <string>{{1,217},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pukepai_huase_hongtao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,68}</string>
                <key>textureRect</key>
                <string>{{75,231},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pukepai_huase_laizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,68}</string>
                <key>textureRect</key>
                <string>{{149,239},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pukepai_huase_meihua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,68}</string>
                <key>textureRect</key>
                <string>{{387,247},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pukepai_huase_pizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,84}</string>
                <key>spriteSourceSize</key>
                <string>{62,84}</string>
                <key>textureRect</key>
                <string>{{285,181},{62,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_huase_xiaowang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,162}</string>
                <key>spriteSourceSize</key>
                <string>{64,162}</string>
                <key>textureRect</key>
                <string>{{461,251},{64,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hui_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{283,109},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hui_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{335,109},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hui_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{387,109},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hui_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{439,109},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hui_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{491,109},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hui_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{543,109},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hui_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{1,145},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hui_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{53,145},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hui_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{105,145},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hui_A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{157,145},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hui_J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{209,145},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hui_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{261,145},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hui_Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{313,145},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_hui_dawang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,124}</string>
                <key>spriteSourceSize</key>
                <string>{34,124}</string>
                <key>textureRect</key>
                <string>{{365,145},{34,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_paimian_beimian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,196}</string>
                <key>spriteSourceSize</key>
                <string>{144,196}</string>
                <key>textureRect</key>
                <string>{{1,309},{144,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_paimian_beimian2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,208}</string>
                <key>spriteSourceSize</key>
                <string>{154,208}</string>
                <key>textureRect</key>
                <string>{{199,317},{154,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_paimian_xiaopaizhengmian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,70}</string>
                <key>spriteSourceSize</key>
                <string>{56,70}</string>
                <key>textureRect</key>
                <string>{{213,181},{56,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_paimian_zhengmian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,208}</string>
                <key>spriteSourceSize</key>
                <string>{154,208}</string>
                <key>textureRect</key>
                <string>{{409,317},{154,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_wenzi_dawang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,124}</string>
                <key>spriteSourceSize</key>
                <string>{34,124}</string>
                <key>textureRect</key>
                <string>{{491,145},{34,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pukepai_wenzi_xiaowang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,124}</string>
                <key>spriteSourceSize</key>
                <string>{34,124}</string>
                <key>textureRect</key>
                <string>{{1,181},{34,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pai.png</string>
            <key>size</key>
            <string>{624,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7e3bde418fc63de20c0faf2ffa2ffa2:55a3d0eb359c758c3dd40d2e85d69415:a0fcd5292797d58aa6b83b0527728e34$</string>
            <key>textureFileName</key>
            <string>pai.png</string>
        </dict>
    </dict>
</plist>
